/* Cabeçalho */
header.header {
    background-color: #e7e4e6;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
}
/* Fonte */
header.header h1 {
    font-size: 1.8em;
}