/* Container logo */
aside.logo {
    background-color: var(--bg-rose);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagem logo */
aside.logo img {
    padding: 0px 15px;
    width: 100%;
}

/* ----------------- RESPONSIVIDADE ---------------*/

@media(max-width: 576px) {
    .aside.logo img {
        width: 350px;
    }
}    