/* Container Navegação */
aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12 ),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

/* Icones Menu */
.menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    padding: 15px;
}

/* Item hover */
.menu a:hover {
    background: linear-gradient(135deg, #053242 0%, #c0aac4 100%);
}

/* ----------------- RESPONSIVIDADE ---------------*/

@media(max-width: 768px) {
    .menu {
        display: flex;
        justify-self: flex-start;
        align-self: center;
    }
    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }
    .menu {
        height: 100%;
        justify-content: space-around;
    }
}